@media only screen and (max-width: 1024px) {
	.card_img {
		height: 22rem;
	}

	[class*="overlay"] {
		opacity: 0 !important;
	}

	.footer {
		display: none;
	}

	#img_mid_title {
		max-width: 5rem !important;
		left: 90%;
		top: -2rem;
	}

	#detail_undesktop {
		font-size: 1.25rem;
		text-align: center;
		position: absolute;
		top: 23rem;
		left: 0rem;
		font-family: Arial, Helvetica, sans-serif;
		display: inline-block !important;
	}

	.hover_img_content_similar {
		opacity: 0 !important;
	}

	.text-col-2-name>a {
		-webkit-line-clamp: 2;
	}

	#navbarNavDropdown-browse>ul>li>a {
		font-size: 1rem;
	}

	#app_mid_title>div>img:not(#img_mid_title) {
		position: absolute;
		max-width: 6rem;
		left: 44%;
		top: -1rem;
	}

	#app_mid_title_browse>div>img {
		position: absolute;
		max-width: 6rem;
		left: 43%;
		top: -1rem;
	}

	#mid-title_browse {
		width: 100%;
		font-size: 2rem;
		margin-top: 3rem;
	}

	#book_detail_section_name {
		font-size: 1.1rem;
	}

	.book_detail_content:not(.book_detail_content_index)>div>div {
		padding-left: 0 !important;
	}

	.hover_img_content,
	.hover_img_content_mid {
		opacity: 0 !important;
	}

	.book_detail_content:not(.book_detail_content_index) {
		height: 30rem !important;
	}

	#similar_book_arrow_left,
	#similar_book_arrow_right {
		display: none;
	}

	#similar_book_detail {
		overflow-x: scroll;
	}

	.empty_saved_book_img>img {
		max-width: 42rem !important;
	}

	.collection_wrapper_desktop>div>a {
		width: 13rem;
	}

	.collection_wrapper_desktop>div>a>span:first-child {
		width: 10rem;
	}

	#collection_col_wrapper::after {
		left: 14.5rem;
	}

	#rating_history_content .rating-xs {
		font-size: 24px;
	}

	.book_detail_content.book_detail_content_rating_history {
		height: 12rem !important;
	}

	.detail_pdf_section object {
		display: none;
	}

	.detail_pdf_section {
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}


	.book_detail_content_rating_history_name {
		-webkit-line-clamp: 3;
	}

	#book_detail_content_col1 {
		position: absolute;
		width: 18.5rem;
	}

	.text-col-1-footer {
		bottom: 0.5rem;
	}

	#text-col-2-author_col1 {
		right: -7rem;
		max-width: 4rem;
	}

	.rating-xs {
		font-size: 14px;
	}

	#rate_modal .modal-body {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	#livesearch {
		left: -3.5rem;
		max-width: 15rem;
	}

	#live_search_result_container a {
		max-width: 15rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card-signin_wrapper {
		align-self: auto !important;
	}

	.card-signin {
		min-height: 70vh;
	}

	#detail_rate_mobile {
		display: inline !important;
	}

	span.user_rated_this_1,span.user_rated_this {
		display:none;
	}

}
