@media only screen and (max-width: 768px) {

	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}

	.footer {
		display: block;
	}

	#detail_undesktop {
		font-size: 1rem;
	}

	#book_detail_content_col1 {
		width: 14rem;
	}

	.overlay_card {
		height: 69%;
	}

	.hover_img {
		min-height: 0;
	}

	.text-col-2-type {
		font-size: 0.6rem;
	}

	.text-col-2-name {
		font-size: 0.75rem;
	}

	.text-col-2-author {
		font-size: 0.5rem;
		right: 1.5rem;
		text-align: right;
		max-width: 3.5rem;
	}

	#mid-title {
		font-size: 2rem;
	}

	#img_mid_title {
		display: none;
	}

	.img-col-2 {
		max-height: 9rem;
	}

	.card_img {
		height: 16rem;
	}

	.content_browse_row {
		margin-right: 0.5rem;
	}

	.card_body_type {
		font-size: 0.5rem;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
		max-width: 10rem;
	}

	.card-title {
		font-size: 0.75rem;
	}

	.text-card-author {
		font-size: 0.5rem;
		right: 0.5rem;
		bottom: 0.5rem;
	}

	.card-body {
		padding: 0.5rem
	}

	.rater_star_grid {
		bottom: 1.5rem;
		left: 0.8rem;
	}

	.rater_search_result {
		bottom: 0.5rem;
	}

	.rater_search_result .rating-xs {
		font-size: 14px;
	}

	.rating-xs {
		font-size: 10px;
	}

	.rating-sm {
		font-size: 20px;

	}

	.text-card-author_search_result {
		max-width: 4rem;
	}

	#text-col-2-author_col1 {
		right: 2rem;
		font-size: 0.75rem;
		max-width: 3rem;
	}

	.text-col-2-name>a {
		-webkit-line-clamp: 3;
	}

	#navbarNavDropdown-browse>ul>li>a {
		font-size: 1rem;
		display: inline-block;
		height: 32px;
		padding-top: 0.2rem;
	}


	#navbarNavDropdown button {
		margin-top: 1rem;
	}

	#app_mid_title>div>img #app_mid_title_browse>div>img {
		position: absolute;
		max-width: 4rem;
		left: 45%;
		top: -1rem;
	}

	#mid-title_browse {
		width: 100%;
		font-size: 2rem;
		margin-top: 3rem;
	}

	.search_result_name {
		font-size: 0.6rem;
	}

	.overlay_card {
		height: 50%;
	}

	.book_detail_content:not(.book_detail_content_index) {
		height: 22rem !important;
	}

	.card-signin .card-img-left {
		width: 40%;
	}

	.zero_course img {
		max-width: 20rem !important;
	}

	.course_content_wrapper {
		min-height: 20rem !important;
	}

	.removed_item {
		top: auto;
		bottom: 2rem !important;
		left: 11rem !important;
		font-size: 0.75rem;
	}

	.collection_wrapper_desktop {
		padding-right: 0;
	}

	.empty_saved_book_img>img {
		max-width: 36rem !important;
	}

	.collection_wrapper_desktop>div>a {
		font-size: 0.75rem;
		width: 9rem;
	}

	.collection_wrapper_desktop>div>a>span:first-child {
		width: 7rem;
	}

	#collection_col_wrapper::after {
		left: 10.5rem;
	}

	#rating_history_content .rating-xs {
		font-size: 20px;
	}

	.book_detail_content.book_detail_content_rating_history {
		height: 10rem !important;
	}

	.book_detail_content_rating_history_name {
		-webkit-line-clamp: 2;
	}

	#navbarNavDropdown {
		text-align: center !important;
	}

	#userDropdown {
		max-width: 50rem;
	}

	.navbar-brand {
		margin-bottom: 2rem;
	}

	.navbar-brand img {
		width: 50px;
		height: 50px;
	}

	.navbar-brand span {
		font-size: 2rem !important;
	}

	#navbarNavDropdown input {
		width: 40% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	#navbarNavDropdown a.nav-link {
		width: 5rem;
		margin-left: auto;
		margin-right: auto;
	}

	#userDropdown_show {
		width: 50%;
		margin-left: 26%;
	}

	#navbar {
		padding-bottom: 0.5rem !important;
	}

	.navbar-collapse.collapse.show {
		padding-bottom: 1rem !important;
	}

	.page_title_header {
		font-size: 2rem;
		margin-top: 3rem;
	}

	.page_title_header::before {
		top: 5px;
	}

	#title_collection_name {
		top: 0.4rem;
	}

	#rating_history_content img {
		max-width: 40rem !important;
	}

	.page_title_header:not(.page_title_header_no_after)::after {
		top: 5px;
	}

	.zero_saved h1 {
		font-size: 2rem;
	}

	#content_to_append>div div.col-6 div {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.the_border_right .btn-group .btn:not(.btn-outline-danger) {
		width: 7rem !important;
	}

	.the_border_right .btn-group .btn-outline-danger {
		width: 3rem !important;
	}

	.the_border_right .btn-group .btn-outline-danger span {
		display: none;
	}

	.the_border_right.col-sm-4 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	#livesearch {
		left: -1rem;
		max-width: 17rem;
		top: 6rem;
	}

	#live_search_result_container a {
		max-width: 17rem;
	}

	.card-signin_wrapper {
		align-self: center !important;
	}

	.form-signup div input,
	.form-signin div input {
		font-size: 0.75rem;
	}

	.form-signin .btn {
		width: 70%;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.text-img-rate {
		right: 2rem;
	}

	.img_similar_book_content {
		height: 11rem;
	}

	.text-col-2-name>a {
		margin-right: 1rem;
	}

	#navbarNavDropdown .navbar-brand {
		display: none;
	}

	.navbar_search.custom_navbar_toggler .input-search {
		margin-bottom: 0;
	}
}
