/* header */
@font-face {
	font-family: 'Kanit';
	/* localhost */
	/* src: url("/CodeIgProj_Recommender_system/assets/_etc/Kanit-Regular.ttf"); */
	/* webhost */
	src: url("https://kkubooksrecommender.online/assets/_etc/Kanit-Regular.ttf");
}

@font-face {
	font-family: 'Oswald';
	/* localhost */
	/* src: url("/CodeIgProj_Recommender_system/assets/_etc/Oswald-Regular.ttf"); */
	/* webhost */
	src: url("https://kkubooksrecommender.online/assets/_etc/Oswald-Regular.ttf");
}

.font-oswald {
	font-family: 'Oswald';
}

.font-apple {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-arial {
	font-family: "Open Sans", Arial, sans-serif;
}

.font-kanit {
	font-family: 'Kanit';
}

::selection {
	background-color: #ff0000;
	color: #ffffff;
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder {
	font-style: italic;
}

::-moz-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

body {
	font-family: 'Kanit', sans-serif;
}

.navbar {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 0.5s
}

.navbar-brand {
	font-weight: 600;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

#content {
	overflow-y: hidden;
	min-height: 100vh;
	position: relative;
	top: 5rem;
	overflow-x: hidden;


}

.pagination>a {
	border: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
	border-radius: 50% !important;
	margin: 0 5px;
	padding: .5rem 1rem;
	text-decoration: none;
	-webkit-transition: background-color .25s;
	transition: background-color .25s;
}

.pagination>a:hover {
	border: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
	border-radius: 50% !important;
	margin: 0 5px;
	padding: .5rem 1rem;
	text-decoration: none;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;

}

.pagination>strong {
	border: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
	border-radius: 50% !important;
	margin: 0 5px;
	padding: .5rem 1rem;
	z-index: 1;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	cursor: default;
}

#input-search {
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	padding-left: 3rem;
	background-image: url('../../assets/_etc/search-64.png');
	background-position: 1rem center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	border: 0.5px solid;
	border-color: #007bff;
}

.nav-menu>li>a {
	/* font-size: 0.85rem; */
	padding-top: 0.7rem;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-color .15s;
	transition: border-color .15s;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	height: 46px;

}

#userDropdown {
	padding-top: 0.7rem;
	cursor: default;
	max-width: 10rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hover {
	transition-delay: 0ms !important;
	-webkit-transition-delay: 0ms !important;
	border-color: #007bff !important;
}

.nav-menu>li>a:hover:not(.different_a),
.nav-menu>li>a.hovered {
	transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	border-color: #007bff;
	color: rgba(0, 0, 0, .7) !important;
}

.nav-menu>li.active>a {
	border-color: #007bff;
}


#mid {
	background-color: #f9f9f9;
	min-height: 100vh;
}

#img-col-1 {
	width: 100%;
	z-index: -1;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

.img-col-2 {
	width: 100%;
	z-index: 2;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	object-fit: cover;
}


.img-book {
	width: 80%;
	object-fit: cover;
	box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25)
}

.text-img {
	width: 74%;
	height: 20%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.1rem;
	padding-top: 1.9rem;
	padding-left: 2rem;
	padding-right: 1rem;
	overflow: hidden;
	color: white;
	position: absolute;
	z-index: 10;
	bottom: 3rem;
	left: 3rem;
	background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.text-img-rate {
	position: absolute;
	font-size: 0.75rem;
	top: 1rem;
	right: 3rem;
	color: white;
	padding: 0.5rem;
}

/* #text-col-1 {
	width: 92%;
	height: 20%;
	margin-left: 15px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.1;
	font-size: 1.5rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
	overflow: hidden;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

#col-2>div {
	height: 25%;
}

#col-3>div {
	height: 25%;
}

/* #top .col {} */

#mid-title,
#mid-title_browse {
	color: #353535;
	font-weight: 700;
	line-height: 1.3;
	cursor: default;
}

#mid-content {
	padding-bottom: 10rem;
}

#navbarNavDropdown-index>ul>li {
	padding: 0rem 5rem;
}

#navbarNavDropdown-index>ul>li>a {
	font-size: 1.25rem;
	cursor: pointer;
}

#navbarNavDropdown-browse>ul>li {
	margin-right: 1rem;
}

#navbarNavDropdown-browse>ul>li>a {
	font-size: 1.25rem;
	cursor: pointer;
}



#dropdown-category-menu {
	position: absolute;
	background: #fff;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

#dropdown-category-menu>div {
	max-width: 100%;
	z-index: 2;
	padding: 1rem 5rem;
}

#dropdown-category-menu>div>div>div>a {
	cursor: pointer;
}


.text-col-2-type {
	color: #535353 !important;
	cursor: pointer;
	text-decoration: none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	padding-bottom: 3px;
	border-bottom: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
}

.text-col-2-type:hover {
	color: #a2a2a2 !important;
}

.ellipsis_menu_trigger:not(.ellipsis_menu_trigger_mid) {
	padding-top: 0.25rem;
	float: right;
	color: #828080bd !important;
	cursor: pointer;
	text-decoration: none !important;
}

.ellipsis_menu_trigger:hover {
	color: #737373 !important;
}

.ellipsis_menu_trigger_mid {
	opacity: 0;
	right: 4rem;
	top: 3.5rem;
	float: right;
	color: #fff !important;
	cursor: pointer;
	text-decoration: none !important;
}

.card_body_type {
	color: #535353 !important;
	cursor: pointer;
	text-decoration: none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	padding-bottom: 3px;
	border-bottom: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
}

.card_body_type:hover {
	color: #a2a2a2 !important;
}


.text-col-2-name {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	padding-bottom: 0.5rem;
	padding-top: 0.25rem;
	line-height: 1.3;
}

.text-col-2-name>a:hover {
	color: #0242bf !important;
}

.text-col-2-name>a {
	color: #0056ffe6 !important;
	text-decoration: none !important;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.opacity {
	opacity: 0.5;
}

.text-col-2-author {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.9rem;
	position: absolute;
	right: 1.5rem;
	bottom: 0;
	max-width: 5rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.text-card-author {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.9rem;
	position: absolute;
	right: 1.5rem;
	bottom: 1rem;
	max-width: 7rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.book_detail_text {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.9rem;
}

.text-col-2-date {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.75rem;
	position: absolute;
	bottom: 0;
}

#book_detail_content_col1 {
	border-radius: 1rem;
	height: 9rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#text-col-2-author_col1 {
	right: -10rem;
	max-width: 7rem;
}

.text-col-2-footer {
	position: absolute;
	bottom: 0.3rem;
}

.text-col-1-footer {
	position: absolute;
	bottom: 1.5rem;
}

.link {
	cursor: pointer;
	color: #535353;

}

.link:hover {
	text-decoration: none;
	color: #007bff !important;
	transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
}

.overlay {
	/* margin-left: 15px; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.5s ease;
}

.hover_img:hover .overlay {
	display: block;
	background-color: rgba(0, 0, 0, .7);
}

.hover_img_button {
	position: absolute;
	/* width: 500px; */
	left: 2rem;
	top: 1rem;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_content {
	position: absolute;
	color: white;
	text-shadow: 1px 1px 2px black;
	/* width: 500px; */
	left: 13%;
	padding: 2rem;
	top: 20%;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_content_name {
	width: 12rem;
	overflow: hidden;
}

.hover_img:hover .hover_img_button {
	opacity: 1;
	z-index: 1000;
}

.hover_img:hover .hover_img_content {
	opacity: 1;
}


.overlay_col2 {
	margin-left: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 76%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.25s ease;
}

.overlay_card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 78%;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color 0.25s ease;
}

.card_hover_img:hover .overlay_card {
	display: block;
	background-color: rgba(255, 255, 255, 0.3)
}

.hover_img_col2:hover .overlay_col2 {
	display: block;
	background-color: rgba(255, 255, 255, 0.3)
}

.hover_img_button_col2 {
	position: absolute;
	/* width: 500px; */
	left: 34%;
	top: 35%;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_content_mid {
	width: 12rem;
	position: absolute;
	font-size: 0.85rem;
	color: white;
	text-shadow: 1px 1px 2px black;
	/* width: 500px; */
	left: 5.5rem;
	top: 7rem;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_col2:hover .hover_img_button_col2 {
	opacity: 1;
	z-index: 1000;
}

.card_hover_img {
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.overlay_mid:not(.ellipsis_menu_trigger_mid) {
	/* margin-left: 3rem; */
	position: absolute;
	top: 0;
	left: 2.3rem;
	width: 80%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: opacity 0.5s ease;
	transition: background-color 0.5s ease;
}

.hover_img_mid:hover .overlay_mid {
	opacity: 1;
	display: block;
	background-color: rgba(0, 0, 0, .7);
}

.hover_img_mid:hover .ellipsis_menu_trigger_mid {
	opacity: 1;
}

.hover_img_button_mid {
	position: absolute;
	/* width: 500px; */
	left: 5rem;
	top: 4rem;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_mid:hover .hover_img_button_mid {
	opacity: 1;
	z-index: 1000;
}

.hover_img_mid:hover .hover_img_content_mid {
	opacity: 1;
}



.book_detail_content,
.book_detail_content_saved {
	border: 1px solid #0000000d;
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
}

.book_detail_content:hover,
.book_detail_content_saved:hover {
	transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.book_detail_content.animated_book_detail_content:hover,
.book_detail_content_saved.animated_book_detail_content:hover {
	-webkit-animation: slide-top .5s cubic-bezier(.25, .46, .45, .94) both;
	animation: slide-top .5s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes animation_popup {
	0% {
		transform: scale(0.3) translateY(-50%);
		opacity: 0;
	}

	100% {
		transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;

	}
}


.animation_enter {
	animation: 1s ease-out 0s 1 animation_popup;
}

@keyframes animation_popup_softly {
	0% {
		opacity: 0;
	}

	100% {
		transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;

	}
}

.slide-bl {
	-webkit-animation: slide-bl .5s cubic-bezier(.25, .46, .45, .94) both;
	animation: slide-bl .5s cubic-bezier(.25, .46, .45, .94) both
}

.slide-bottom {
	-webkit-animation: slide-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
	animation: slide-bottom .5s cubic-bezier(.25, .46, .45, .94) both
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-2 21:43:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-bl {
	0% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0)
	}

	100% {
		-webkit-transform: translateY(100px) translateX(-100px);
		transform: translateY(100px) translateX(-100px)
	}
}

@keyframes slide-bl {
	0% {
		-webkit-transform: translateY(0) translateX(0);
		transform: translateY(0) translateX(0)
	}

	100% {
		-webkit-transform: translateY(100px) translateX(-100px);
		transform: translateY(100px) translateX(-100px)
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-2 21:50:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(75px);
		transform: translateY(75px)
	}

	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px)
	}
}

@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(75px);
		transform: translateY(75px)
	}

	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px)
	}
}

.animation_enter_softly {
	animation: 1.5s ease-out 0s 1 animation_popup_softly;
}

.rater_star_grid {
	position: absolute;
	bottom: 1rem;
}

.table_book_name {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	padding-bottom: 0.5rem;
}

.table_book_name>a:hover {
	color: #0242bf !important;
}

.table_book_name>a {
	text-decoration: none;
	color: #0056ffe6 !important;
	text-decoration: none !important;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.the_border_right {
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.the_border_right>div.query_text {
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-y: hidden;
}

.no_overflow {
	overflow: hidden;
	text-overflow: ellipsis;
}

#filter_author_text {

	width: 8rem;
}

#similar_book_detail {
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	flex-wrap: nowrap;
}

#similar_book_detail>div>.col-4 {
	display: inline-block;
	float: none;
}

#similar_book_detail:hover~#similar_book_arrow_left,
#similar_book_detail:hover~#similar_book_arrow_right {
	opacity: 0.33;
}

.similar_book_arrow {
	transition-duration: 100ms;
}

.similar_book_arrow:hover {
	opacity: 0.9 !important;
	cursor: pointer;
}

#similar_book_arrow_left {
	background-color: #6c757d;
	left: 2.1rem;
	height: 3.5rem;
	width: 3rem;
	z-index: 10;
	top: 31rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	opacity: 0;
	display: none;
	border-top-right-radius: 2rem !important;
	border-bottom-right-radius: 2rem !important;
}

#similar_book_arrow_right {
	background-color: #6c757d;
	right: 0.035rem;
	height: 3.5rem;
	width: 3rem;
	z-index: 10;
	top: 31rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	opacity: 0;
	border-top-left-radius: 2rem !important;
	border-bottom-left-radius: 2rem !important;
}

#similar_book_title {
	left: 3.5rem;
	font-size: 1rem;
	z-index: 10;
	margin-top: 2rem;
	cursor: pointer;
	border-bottom: 2px solid #007bff;
	transition: 100ms;
	color: rgba(0, 0, 0, .7);
}

#similar_book_title:hover {
	color: rgba(0, 0, 0, .5) !important;
}

.hover_img_similar_book_content:hover .hover_img_content_similar {
	visibility: visible;
	opacity: 1;
	transform: translate(0, -20px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.hover_img_content_similar:before {
	position: absolute;
	z-index: -1;
	content: "";
	right: calc(50% - 10px);
	top: -8px;
	transition-duration: 0.3s;
	transition-property: transform;
}

.hover_img_content_similar {
	transform: translate(0, 10px);
	width: 8rem;
	position: absolute;
	display: block;
	font-size: 0.85rem;
	color: white;
	text-shadow: 1px 1px 2px black;
	margin-right: 1rem;
	padding-left: 0.5rem;
	top: 1.5rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s ease;
}

.overlay_similar {
	position: absolute;
	top: 0rem;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.5s ease;
}

.hover_img_similar_book_content:hover .overlay_similar {
	display: block;
	background-color: rgba(0, 0, 0, .7);
}

.overlay_similar_content {
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hover_similar_book_title {
	max-height: 3rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* .rating-stars {} */

.badge {
	cursor: pointer !important;
}

#livesearch {
	position: relative;
	top: 3rem;
	z-index: 1031;
	left: -3rem;
	max-width: 25rem;
}

#live_search_result_container {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.9rem;
	font-family: Arial, Helvetica, sans-serif;

	-webkit-transition: box-shadow .1s;
	transition: box-shadow .1s;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#live_search_result_container>.dropdown-item {
	width: 25rem;
}


.live_search_reslut_option {
	padding-bottom: 0.5rem;
	cursor: default;
}

#popup_menu {
	width: 15rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

#popup_menu>div>div>a {
	padding: 0.5rem;
	padding-left: 0.75rem;
	cursor: default;
}

.popup_menu_item:active div div {
	color: #fff !important;
}

.disabled {
	pointer-events: all !important;
	cursor: wait !important;
}

.card_img {
	width: 100%;
	object-fit: cover;
	height: 28rem;
}

.live_search_result_option {
	cursor: default;
}

.live_search_result_option_author {
	cursor: default;
}

.live_search_result_all {
	text-align: end;
	cursor: pointer;
	font-weight: bold;
	color: #007bff !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.live_search_result_all:active {
	color: #fff !important;
}

.dropdown-item-search {
	display: block;
	/* width: 100%; */
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.dropdown-item-search:hover {
	color: #212529;
	text-decoration: none;
	background-color: #f8f9fa;
}

.live_search_panel {

	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-bottom: 0.25rem;
	text-transform: uppercase;
	font-size: 1.25rem;

	font-family: 'Oswald';
}

.live_search_panel::before {
	background-color: #007bff;
	content: ' ';
	min-width: 8px;
	height: 20px;
	position: absolute;
	left: 0;
	margin-top: 5px;
}

.save_text_muted {
	font-size: 0.75rem;
	color: #6c757d;
}

.rate_text_muted {
	font-size: 0.75rem;
	color: #6c757d;
}

.select2-search__field {
	width: 400px !important;
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 40vh !important;
}

li.select2-results__option {
	border-bottom: 1px solid #4c5a673d;
	;
}

.selected_course {
	max-width: 400px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 3px;
	left: 5px;
	padding-right: 0.5rem;
}

.select2-selection__choice__remove {
	bottom: 5px;
	position: relative;
}

.swal_alert_add_course {
	overflow: hidden;
}

.swal2-content {
	/* background-color: #d0e8ff3d; */
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 0.5rem;
}

#course_content {
	margin-bottom: 10rem;
}

.course_row {
	color: #004480b5;

}

.course_row:hover {
	color: #007bff;
}

.course_row:not(:last-child) {
	border-bottom: 1px solid #4c5a673d;
}


.select2-results__option--highlighted div div {
	color: #fff !important;
}

.page_title_header {
	margin-left: 3rem;
	position: relative;
	text-transform: uppercase;
}

.page_title_header::before {
	position: absolute;
	background-color: #007bff;
	content: "";
	min-width: 30px;
	height: 30px;
	top: 20px;
	left: -3rem;
}

.page_title_header:not(.page_title_header_no_after)::after {
	position: absolute;
	background-color: #007bff;
	content: "";
	min-width: 30px;
	height: 30px;

	top: 20px;
	margin-left: 11px;
	width: 25%;

}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background: linear-gradient(to left, #0062E6, #33AEFF);
}


@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(75px);
		transform: translateY(75px)
	}

	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px)
	}
}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px)
	}

	100% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px)
	}
}

.swal2-content {
	padding: 0;
}

#save_collection_menu {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	z-index: 1;

}

#save_collection_menu>div>div>div {
	padding: 0.5rem;
	padding-left: 0.75rem;
	cursor: default;

}

.save_collection_menu:active div div {
	color: #fff !important;
}

#title_collection_name {
	position: relative;
	max-width: 30rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	top: 0.75rem;
	text-transform: none;

}

#title_collection_edit {
	position: relative;
	top: 1rem;
	float: right;
	color: #44597c78 !important;
	cursor: pointer;
	text-decoration: none !important;
}

#title_collection_edit:hover {
	color: #506b84 !important;
}

#collection_col_wrapper::after {
	position: absolute;
	background-color: #0000000a;
	content: "";
	min-width: 1px;
	height: 100%;
	min-height: 80vh;
	top: 0px;
	left: 17rem;
}

#book_detail_section_name {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#img_mid_title {
	max-width: 8rem;
	top: 1rem;
	right: 1rem;
}

.content_browse_row {
	margin-right: 1.5rem;
}

#app_mid_title>div>img,
#app_mid_title_search_result>div>img,
#app_mid_title_browse>div>img {
	max-width: 8rem;
	height: 8rem;
	transform: scaleX(-1);
}

#modal_label {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.book_detail_content_saved_name {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.collection_wrapper_desktop>div>a {
	width: 15rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.collection_wrapper_desktop>div>a>span:first-child {
	width: 12rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.book_detail_content_rating_history_name {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.author_text_rating_history {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#iframe_gg_form {
	min-height: 185rem;
}
