/* header */
@font-face {
	font-family: 'Kanit';
	src: url("/CodeIgProj_Recommender_system/assets/_etc/Kanit-Regular.ttf");
}

.font-apple {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-arial {
	font-family: "Open Sans", Arial, sans-serif;
}

::selection {
	background-color: #ff0000;
	color: #ffffff;
}

body {
	font-family: 'Kanit', sans-serif;
	/* background-image: url("./assets/_etc/background.webp"); */
	/* background-repeat: no-repeat;
	background-attachment: fixed; */
}

.navbar {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 0.5s
}

.navbar-brand {
	font-weight: 600;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

#content {
	min-height: 100vh;
	position: relative;
	top: 5rem;
	overflow-x: hidden;
}

.pagination>a {
	border: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
	border-radius: 50% !important;
	margin: 0 5px;
	padding: .5rem 1rem;
	text-decoration: none;
}

.pagination>strong {
	border: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
	border-radius: 50% !important;
	margin: 0 5px;
	padding: .5rem 1rem;
	z-index: 1;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

#input-search {
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	padding-left: 3rem;
	background-image: url('../../assets/_etc/search-64.png');
	background-position: 1rem center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	border: 0.5px solid;
	border-color: #007bff;
}

.nav-menu>li>a {
	/* font-size: 0.85rem; */
	padding-top: 0.7rem;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-color .15s;
	transition: border-color .15s;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	height: 46px;

}

.hover {
	transition-delay: 0ms !important;
	-webkit-transition-delay: 0ms !important;
	border-color: #007bff !important;
}

.nav-menu>li>a:hover {
	transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	border-color: #007bff;
}

.nav-menu>li.active>a {
	border-color: #007bff;
}

/* index */
#top {
	height: 37.6rem;
}

#mid {
	background-color: #f9f9f9;
	min-height: 100vh;
}

#img-col-1 {
	height: 29rem;
	width: 100%;
	z-index: -1;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

.img-col-2 {
	width: 100%;
	z-index: 2;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	object-fit: cover;
}


.img-book {
	height: 23rem;
	width: 17rem;
	object-fit: cover;
	box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25)
}

.text-img {
	width: 74%;
	height: 20%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.1rem;
	padding-top: 1.9rem;
	padding-left: 2rem;
	padding-right: 1rem;
	overflow: hidden;
	color: white;
	position: absolute;
	z-index: 10;
	bottom: 3rem;
	left: 3rem;
	background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.text-img-rate {
	position: absolute;
	font-size: 0.75rem;
	top: 3.5rem;
	right: 3.5rem;
	color: white;
	padding: 0.5rem;
}

/* #text-col-1 {
	width: 92%;
	height: 20%;
	margin-left: 15px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.1;
	font-size: 1.5rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
	overflow: hidden;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
} */

#col-2>div {
	height: 25%;
}

#col-3>div {
	height: 25%;
}

/* #top .col {} */

#mid-title {
	color: #353535;
	font-weight: 700;
	line-height: 1.3;
}

#navbarNavDropdown-index>ul>li {
	padding: 0rem 5rem;
}

#navbarNavDropdown-index>ul>li>a {
	font-size: 1.25rem;
	cursor: pointer;
}

#navbarNavDropdown-browse>ul>li {
	margin-right: 1rem;
}

#navbarNavDropdown-browse>ul>li>a {
	font-size: 1.25rem;
	cursor: pointer;
}



#dropdown-category-menu {
	position: absolute;
	background: #fff;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

#dropdown-category-menu>div {
	max-width: 100%;
	z-index: 2;
	padding: 1rem 5rem;
}

#dropdown-category-menu>div>div>div>a {
	cursor: pointer;
}


.text-col-2-type {
	color: #535353 !important;
	cursor: pointer;
	text-decoration: none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	padding-bottom: 3px;
	border-bottom: 1px solid #dee2e6 !important;
	border-color: #007bff !important;
}

.text-col-2-type:hover {
	color: #a2a2a2 !important;
}

.text-col-2-name {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	padding-bottom: 0.5rem;
}

.text-col-2-name>a:hover {
	color: #0242bf !important;
}

.text-col-2-name>a {
	color: #0056ffe6 !important;
	text-decoration: none !important;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.opacity {
	opacity: 0.5;
}


.text-col-2-author {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.9rem;
	position: absolute;
	right: 1.5rem;
	bottom: 0;
	max-width: 7rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.book_detail_text {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.9rem;
}

.text-col-2-date {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.75rem;
	position: absolute;
	bottom: 0;
}

#book_detail_content_col1 {
	border-radius: 1rem;
	height: 9rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#text-col-2-author_col1 {
	right: -12rem;
	max-width:10rem;
}

.text-col-2-footer {
	position: absolute;
	bottom: 0.5rem;
}

.text-col-1-footer {
	position: absolute;
	bottom: 2rem;
}

.link {
	cursor: pointer;
	color: #535353;

}

.link:hover {
	text-decoration: none;
	color: #007bff !important;
	transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
}

.overlay {
	margin-left: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 22rem;
	height: 29rem;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.5s ease;
}

.hover_img:hover .overlay {
	display: block;
	background-color: rgba(0, 0, 0, .7);
}

.hover_img_button {
	position: absolute;
	/* width: 500px; */
	left: 2rem;
	top: 1rem;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_content {
	position: absolute;
	color: white;
	text-shadow: 1px 1px 2px black;
	/* width: 500px; */
	left: 4rem;
	padding: 2rem;
	top: 4rem;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_content_name {
	width: 12rem;
	overflow: hidden;
}

.hover_img:hover .hover_img_button {
	opacity: 1;
	z-index: 1000;
}

.hover_img:hover .hover_img_content {
	opacity: 1;
}


.overlay_col2 {
	margin-left: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 76%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.25s ease;
}

.hover_img_col2:hover .overlay_col2 {
	display: block;
	background-color: rgba(255, 255, 255, 0.3)
}

.hover_img_button_col2 {
	position: absolute;
	/* width: 500px; */
	left: 34%;
	top: 35%;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_content_mid {
	width: 12rem;
	position: absolute;
	font-size: 0.85rem;
	color: white;
	text-shadow: 1px 1px 2px black;
	/* width: 500px; */
	left: 5.5rem;
	top: 7rem;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_col2:hover .hover_img_button_col2 {
	opacity: 1;
	z-index: 1000;
}

.overlay_mid {
	margin-left: 3rem;
	position: absolute;
	top: 3rem;
	left: 0;
	width: 17rem;
	height: 23rem;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.5s ease;
}

.hover_img_mid:hover .overlay_mid {
	display: block;
	background-color: rgba(0, 0, 0, .7);
}

.hover_img_button_mid {
	position: absolute;
	/* width: 500px; */
	left: 5rem;
	top: 4rem;
	opacity: 0;
	transition: opacity .35s ease;
}

.hover_img_mid:hover .hover_img_button_mid {
	opacity: 1;
	z-index: 1000;
}

.hover_img_mid:hover .hover_img_content_mid {
	opacity: 1;
}

.book_detail_content {
	border: 1px solid #0000000d;
	-webkit-transition: box-shadow .1s;
	transition: box-shadow .1s;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
}

.book_detail_content:hover {
	transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

@keyframes animation_popup {
	0% {
		transform: scale(0.3) translateY(-50%);
		opacity: 0;
	}

	100% {
		transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;

	}
}

.animation_enter {
	animation: 1s ease-out 0s 1 animation_popup;
}
